{% extends 'account/base.html' %} {% load static %} {% block header %}

<header class="masthead text-center">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0" style="color:white">
        Start your calendar
      </h1>
      <br />
      <a
        href="{% url 'account_login'%}"
        class="btn btn-success btn-xl rounded-pill"
      >
        Start
      </a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- <div class="container">
  <div class="row">
    <div class="my-div-style">

      <p>
        <a class="button secondaryAction" href="{% url 'account_login'%}">
          Go to login?
        </a>
      </p>
    </div>
  </div>
</div> -->
{% endblock %} {% block contents %} {% endblock %}
