{% extends 'account/base.html' %} {% load static %} {%block contents %}

<div class="container">
  <div class="row">
    <div class="my-div-style">
      <br />
      <h1>Reset your password</h1>
      {% if user.is_authenticated %} {% include
      "snippets/already_logged_in.html" %} {% endif %}

      <p>We'll send email for reset your password</p>

      <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token%} {{form.as_p}}
        <button class="btn btn-success btn-lg" type="submit">
          Do!
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
