{% extends 'account/base.html' %}
{% block contents%}
<div class="container">
  <div class="row">
    <div class="my-div-style">
      <br />
      <h1>Register</h1>
      <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %} {{form.as_p}} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{redirect_field_name}}"
          value="{{redirect_field_value}}"
        />
        {% endif %}
        <button class="btn btn-success btn-lg" type="submit">register</button>
      </form>

      <p>
        <a class="button secondaryAction" href="{% url 'account_login'%}">
          Go back to login?
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
